:root {
  /* Color Scheme */
  --white: white;
  --light-blue: #bfdde6;
  --copper: #d05f39;
  --dark-copper: #b1421e;
  --coral: #e7ad99;
  --gray: #495867;
  --black: black;
  /* Other */
  --navbar-footer-height: 70px;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--gray);
}

.content {
  padding: 2rem;
  background: var(--light-blue);
  padding-bottom: 2.5rem;
  /* Have main content be whatever vertical space is left that navbar and footer didn't take */
  min-height: calc(
    100vh - var(--navbar-footer-height) - var(--navbar-footer-height)
  );
}

nav {
  min-height: var(
    --navbar-footer-height
  ); /* Min height and not just height because navbar expands with mobile hamburger menu */
}

.nav-footer {
  height: var(--navbar-footer-height);
}

.navbar-brand {
  padding: 0;
  font-weight: bold;
}

.colored-nav-border {
  border-bottom: 7px solid;
  border-image: linear-gradient(
      to right,
      var(--gray) 20%,
      var(--copper) 20%,
      var(--copper) 40%,
      var(--coral) 40%,
      var(--coral) 60%,
      var(--copper) 60%,
      var(--copper) 85%,
      var(--gray) 85%
    )
    5;
}

.copper-btn {
  background: var(--copper);
  border: none;
  letter-spacing: 1px;
  font-size: large;
}

.copper-btn:hover {
  background: var(--dark-copper);
}

.active {
  font-weight: bold;
}
